body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #1f1e1e;
  color: #333333;
}

h1 {
  color: #ffffff;
}

p {
  color: #4682b4;
}

#setSelection {
  margin-bottom: 20px;
}

#setSelection button {
  background: #333;
  border: 2px solid transparent;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  transition: border 0.3s, background 0.3s;
}

#setSelection button img {
  width: 100px;
  height: auto;
  border-radius: 5px;
}

#setSelection button.selected {
  border-color: #FFD700;
  background: #444;
}

#buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#generatePackButton {
  margin: 20px auto; /* Set margin to create space at the top and center horizontally */
  padding: 15px 30px;
  font-size: 18px;
  background-color: #4682b4;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

#generatePackButton:hover {
  background-color: #5a9bd3;
  transform: scale(1.05);
}

#packDisplay {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  justify-items: center;
  margin-top: 20px;
}

.card {
  perspective: 1000px;
  margin: 10px;
}

.card-inner {
  position: relative;
  width: 200px;
  height: 280px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.is-flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 1px solid #1f1e1e;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-front {
  background-color: #f5f5f5;
}

.card-back {
  background-color: #f5f5f5;
  transform: rotateY(180deg);
}

.card img {
  width: 150px;
  height: auto;
  border-radius: 5px;
}

.card h3 {
  margin: 10px 0 5px;
  color: #111111;
}

/* Hover effects */
.card.common:hover {
  box-shadow: 0 0 20px 5px rgba(240, 240, 240, 0.8);
}

.card.uncommon:hover {
  box-shadow: 0 0 20px 5px rgba(50, 205, 50, 0.8);
}

.card.rare:hover {
  box-shadow: 0 0 20px 5px rgba(32, 210, 255, 0.8);
}

.card.superRare:hover {
  box-shadow: 0 0 20px 5px rgba(128, 9, 207, 0.8);
}

.card.legendary:hover {
  box-shadow: 0 0 20px 5px rgb(255, 166, 0.8);
}

.card.enchanted:hover {
  animation: rainbowGlow 1.5s infinite;
}

/* Rainbow glow animation */
@keyframes rainbowGlow {
  0% {
      box-shadow: 0 0 20px 5px red;
  }
  16% {
      box-shadow: 0 0 20px 5px orange;
  }
  33% {
      box-shadow: 0 0 20px 5px yellow;
  }
  50% {
      box-shadow: 0 0 20px 5px green;
  }
  66% {
      box-shadow: 0 0 20px 5px blue;
  }
  83% {
      box-shadow: 0 0 20px 5px indigo;
  }
  100% {
      box-shadow: 0 0 20px 5px violet;
  }
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #1f1e1e;
  color: #333333;
}

h2 {
  color: #ffffff;
}

p {
  color: #ffffff;
}

a {
  color: #4682b4;
}

a:hover {
  color: #386991;
}

#disclaimerLink {
  position: fixed;
  bottom: 25px;
  left: 35px;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

#creditsLink {
  position: fixed;
  bottom: 25px;
  left: 150px;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}